{% extends "hab_app/caretakerView.html" %}
{% block body_block %}

  <thead>
      <tr>
          <th>Room No.</th>
          <th>Room Type</th>
          <th>Floor Info</th>
          <th>Room Status</th>
          <th>Occupant Name</th>
          <th>Occupant ID No</th>
          <th>Webmail Id</th>
          <th>Contact</th>
          <th>Details</th>
      </tr>
  </thead>

  <tbody>
    {% for i in empty_rooms %}
    <tr>
          <td>{{ i.roomNo }}</td>
          <td>{{ i.roomOccupancyType }}</td>
          <td>{{ i.floorInfo }}</td>
          <td>{{ i.roomStatus }}</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
      </tr>
      {% endfor %}
  </tbody>


{% endblock %}

